:root {
  --gradient1: hsl(236, 72%, 79%);
  --gradient2: hsl(237, 63%, 64%);
  --veryLightGrayishBlue: hsl(240, 78%, 98%);
  --lightGrayishBlue: hsl(234, 14%, 74%);
  --grayishBlue: hsl(233, 13%, 49%);
  --darkGrayishBlue: hsl(232, 13%, 33%);
  --priceBg: white;
}

body {
  background: url(../images/bg-top.svg), var(--veryLightGrayishBlue);
  background-size: contain, auto;
  background-repeat: no-repeat;
  background-position: top right, center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  transition: 250ms ease;
}

.container {
  margin: 20px;
}

.nav {
  padding: 15px;
}

.icon {
  color: var(--darkGrayishBlue);
  cursor: pointer;
  user-select: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header--title {
  color: var(--grayishBlue);
}

.header__switch-container {
  display: flex;
  align-items: center;
}

.header__switch-container--type-princing {
  color: var(--lightGrayishBlue);
}

.checkbox {
  display: none;
}

.switch {
  display: block;
  width: 75px;
  height: 30px;
  border-radius: 500px;
  background-image: linear-gradient(
    to right,
    var(--gradient1),
    var(--gradient2)
  );
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
  padding: 4px;
  transition: 0.5s ease;
}

.switch::before {
  content: "";
  display: block;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  user-select: none;
  transition: 0.3s;
  will-change: transform;
}

.checkbox:checked ~ .switch::before {
  transform: translateX(150%);
}

.checkbox:checked ~ .switch {
  background: var(--lightGrayishBlue);
}

.prices {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.price {
  width: 100%;
  display: flex;
  border-radius: 7.5px;
  padding: 5% 7%;
  padding-bottom: 8%;
  flex-direction: column;
  align-items: center;
  background-color: var(--priceBg);
  box-sizing: border-box;
  margin-bottom: 30px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
}

.price:last-child {
  margin-bottom: 0;
}

.price--title {
  color: var(--grayishBlue);
}

.price--cost {
  font-size: 2em;
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: var(--darkGrayishBlue);
}

.price--cost--important-text {
  font-size: 2.5em;
  margin-left: 15px;
}

.price__features {
  list-style: none;
  width: 100%;
  padding: 0px;
}

.price__features--feature {
  border-top: 1px solid var(--lightGrayishBlue);
  text-align: center;
  color: var(--grayishBlue);
  padding: 15px;
}

.price__features--feature:last-child {
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.price--btn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-image: linear-gradient(
    to right,
    var(--gradient1),
    var(--gradient2)
  );
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 450ms ease;
}

.price-highlight {
  background: linear-gradient(to bottom, var(--gradient1), var(--gradient2));
}

.price-highlight .price--title {
  color: white;
}
.price-highlight .price--cost {
  color: white;
}

.price-highlight .price__features--feature {
  color: white;
}

.price-highlight .price--btn {
  background: white;
  color: var(--gradient2);
}

@media screen and (min-width: 768px) {
  body {
    background: url(../images/bg-top.svg), url(../images/bg-bottom.svg),
      var(--veryLightGrayishBlue);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
  }

  .header {
    margin-top: 50px;
  }

  .prices {
    flex-direction: row;
    padding: 0 3%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 80px;
  }

  .price {
    width: 25%;
    padding: 40px 30px;
    margin-bottom: 0;
  }

  .price:nth-child(2) {
    transform: scale(1.1);
  }

  .price--btn:hover {
    border: 1px solid var(--gradient2);
    background: rgba(0, 0, 0, 0);
    color: var(--gradient2);
  }

  .price-highlight .price--btn:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
  }
}

/* Dark Mode */
.dark-mode {
  --veryLightGrayishBlue: #333333;
  --grayishBlue: white;
  --darkGrayishBlue: white;
  --priceBg: #242424;
}
